
<!-- search Bar -->
    <div class="container col-md-6">
        <div class="input-group">
            <input type="search" [(ngModel)]="movie" (keyup)="getmovies()"  class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" (click)="getmovies()" class="btn btn-danger">search</button>
          </div>
        </div>
        <!--spinner  -->
        <div class="text-center mt-5" *ngIf = "isloading">
          <app-spinner></app-spinner>
      </div>

       <div class="main">
        <h1>Search Movie Details</h1>
        <ul class="cards" >
          <li class="cards_item" *ngFor="let movie of search">
            <div class="card">
              <div class="card_image"><img style="width: 255px; height: 200px;" [src]="movie.Poster" alt=""></div>
              <div class="card_content">
                <h2 class="card_title">Movie Details</h2>
                <h3 ><b>Title :</b>{{movie.Title}}</h3>
                <h4><b>Type :</b>{{movie.Type}}</h4>
                <h4><b>Year :</b>{{movie.Year}}</h4>
                <h4><b>imdbID :</b>{{movie.imdbID}}</h4>
                <a class="btn btn-info" [href]="'https://www.google.com/search?q='+movie.Title">Get Details</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

     
    





   

